.preview {
    background: center/cover url(../images/bg-preview.jpg);

    section {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__row {
        padding-top: 250px;
        display: grid;
        grid-template-columns: 3fr 1fr;

        h1 {
            width: 940px;

            span {
                color: inherit;
            }
        }

        p {
            width: 600px;
            margin-right: 100px;
            margin-top: 24px;
            margin-bottom: 72px;
            font-size: 24px;
        }
    }

    p,
    h2,
    h3 {
        color: $default-color;
    }

    .button-yellow-solid-lg {
        width: 300px;
    }

    &__cards-section {
        padding: 140px 0;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        margin-top: 32px;
    }

    &__card {
        width: 480px;
        padding: 32px;
        border-radius: 16px;

        backdrop-filter: blur(10px);
        background-color: #fff2;
        position: relative;
    }

    @media screen and (max-width: $desktopWidth) {
        h1 {
            width: 710px;
        }

        p {
            width: 100%;
            max-width: 400px;
        }
    }


    @media screen and (max-width: $smDesktopWidth) {
        .button-play-animated {
            display: none;
        }

        &__row {
            display: block;
        }

        &__cards {
            flex-direction: column;
        }

        &__card {
            width: 100%;
            display: grid;
            grid-template: repeat(2, auto) / auto 1fr;
            grid-column-gap: 32px;

            img {
                grid-area: 1 / 1 / -1 / 2;
            }
        }
    }

    @media screen and (max-width: $tableWidth) {
        h1 {
            width: 470px;
            font-size: 70px;
        }
    }


    @media screen and (max-width: $smTableWidth) {
        &__cards-section {
            padding: 100px 0;
        }

        h1 {
            width: 100%;
            max-width: 325px;
            font-size: 50px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .preview__row h1 {
            max-width: 260px;
            line-height: 1;

            span {
                font-size: 40px;
            }
        }

        &__row {
            padding-top: 160px;

            p {
                margin-right: 0;
                margin-bottom: 42px;
            }
        }

        &__cards-section {
            padding: 80px 0;
        }

        &__cards {
            gap: 18px;
        }

        .button-yellow-solid-lg {
            width: 230px;
        }

        &__card {
            grid-template: auto / auto;

            img {
                justify-self: center;
            }
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .button-yellow-solid-lg {
            width: 180px;
        }

        &__row p {
            font-size: 16px;
        }
    }
}