.testimonial {

    &__cards {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    &__card {
        display: grid;
        grid-template: repeat(3, auto) / auto 1fr;
        grid-column-gap: 26px;

        img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            grid-area: 1 / 1 / 3 / 2;
        }

        div {
            font-size: rem(32);
        }

        span {
            grid-row-start: 2;
            font-weight: 500;
        }

        p {
            margin-top: 15px;
            grid-column: 1 / span 2;
        }
    }


    @media screen and (max-width: $desktopWidth) {
        &__cards {
            margin-top: 40px;
        }

        &__card {
            img {
                grid-area: 1 / 1 / 2 / -1;
                justify-self: center;
            }

            div {
                grid-area: 2 / 1 / 3 / -1;
                text-align: center;
            }

            span {
                grid-area: 3 / 1 / 4 / -1;
                text-align: center;
            }

            p {
                text-align: justify;
            }
        }
    }

    @media screen and (max-width: $tableWidth) {
        &__cards {
            margin-top: 20px;
            grid-template: repeat(3, 1fr) / 1fr;
            gap: 32px;
        }

        &__card {
            img {
                grid-area: 1 / 1 / 3 / 2;
            }

            div {
                grid-area: unset;
                text-align-last: left;
            }

            span {
                grid-area: unset;
                text-align-last: left;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__card {
            grid-template: auto / auto;

            img {
                grid-area: unset;
            }

            div,
            span {
                text-align: center;
                justify-self: center;
            }

            p {
                grid-area: unset;
            }
        }
    }
}