.slider {
    max-width: unset;
    padding-right: unset;

    background: no-repeat url(../images/svg/slider-bg.svg);
    background-position: 90% 0;
    background-size: 30%;

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 50px;
        max-width: 750px;
    }

    img {
        border-radius: 20px;
        width: 340px;
        height: 380px;
        transition: filter 0.3s ease-out 0.2s;

        &:active {
            filter: brightness(0.2) sepia(90%) hue-rotate(180deg);
            transition: filter 0.01s linear;
        }
    }

    li {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 80%;
            height: 100%;
            z-index: -1;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 30px;
            transform: translate(-8px) translateY(-100%);
        }
    }

    @media screen and (max-width: $tableWidth) {
        background-size: 50%;

        img {
            border-radius: 20px;
            height: 280px;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        background-position: center;
        background-size: 80%;

        img {
            border-radius: 15px;
            height: 200px;
        }
    }
}