.carousel {
    height: 940px;
    display: flex;
    align-items: flex-end;

    border-radius: 25px;
    background: no-repeat center/cover url(../images/bg-carousel.jpg);

    .carousel__body {
        width: 820px;
        height: 320px;
        padding: 32px 64px;
        margin-left: 32px;
        margin-bottom: 105px;

        border-radius: 16px;
        backdrop-filter: blur(24px);
        background-color: rgba(255, 255, 255, 0.8);
    }

    .glide-carousel {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .glide__track {
        flex-grow: 1;
    }

    .glide__slides {
        height: 100%;
    }

    .glide-carousel__static-row {
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    .bullets {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
    }

    .glide__bullet {
        padding: 7px;
        display: block;
        border: 3px solid #a8c8e9;
    }

    .glide__bullet--active {
        background: $accent-color2;
    }

    .glide__arrow--left,
    .glide__arrow--right {
        display: inline-block;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    @media screen and (max-width: $smDesktopWidth) {
        height: 750px;

        .carousel__body {
            width: 620px;
            margin-left: 20px;
            margin-bottom: 50px;
            padding: 32px 64px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        height: 650px;

        .carousel__body {
            width: 520px;
            margin-left: 15px;
            margin-bottom: 30px;
            padding: 32px 24px;
        }
    }

    @media screen and (max-width: $smTableWidth) {
        height: 650px;

        .carousel__body {
            width: calc(100% - 30px);
            margin-left: 20px 5px;
            height: 400px;
            padding: 32px 24px;
        }

        .glide-carousel__static-row {
            flex-wrap: wrap;

            div:last-child {
                display: none;
            }
        }

        .bullets {
            align-self: flex-start;
            height: auto;
            width: auto;
        }

        .button-yellow-solid {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .carousel__body {
            height: 450px;
        }

        .glide-carousel__static-row {
            div:last-child {
                display: none;
            }
        }

        .bullets {
            width: 100%;
        }
    }
}