.team {

    &__row {
        display: flex;
        flex-wrap: wrap;
        column-gap: 100px;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__col-left {
        max-width: 800px;
    }

    .button-yellow-solid-lg {
        width: 370px;
        margin-top: 32px;
    }

    &__cards {
        margin-top: 80px;
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        grid-gap: 80px;
    }

    &__card {
        position: relative;

        img {
            border-radius: 50px;
            width: 100%;
        }

        div {
            width: 90%;
            height: 150px;
            margin: 0 auto;
            padding: 16px 32px;
            position: absolute;
            bottom: -70px;
            left: 5%;

            display: flex;
            flex-direction: column;

            border-radius: 30px;
            backdrop-filter: blur(8px);
            background-color: rgba(228, 228, 228, 0.6);
        }

        b {
            color: $font-color;
            font-size: 24px;
            font-weight: 500;
        }

        i {
            color: $accent-color1;
            font-size: 46px;
        }
    }

    @media screen and (max-width: 1580px) {
        &__cards {
            grid-template: repeat(2, 1fr) / repeat(2, minmax(auto, 400px));
            justify-content: center;
        }

        img {
            border-radius: 30px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        .button-yellow-solid-lg {
            width: 280px;
        }

        &__cards {
            margin-top: 40px;
            grid-template: repeat(4, 1fr) / minmax(auto, 450px);
            justify-content: center;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .button-yellow-solid-lg {
            width: 100%;
        }

        &__card {
            div {
                padding: 12px 16px;
            }

            b {
                font-size: 18px;
            }
        }
    }
}