.team {

    &__row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__col-left {
        max-width: 830px;
    }

    .button-yellow-solid-lg {
        margin-top: 32px;
        width: 370px;
    }

    &__cards {
        margin-top: 80px;
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        grid-gap: 96px;
    }

    &__card {
        position: relative;
    }

    &__image {
        border-radius: 52px;
        width: 100%;
    }

    &__card-legend {
        width: 90%;
        height: 150px;
        margin: 0 auto;
        padding: 16px 32px;
        position: absolute;
        bottom: -70px;
        left: 5%;

        display: flex;
        flex-direction: column;

        border-radius: 30px;
        backdrop-filter: blur(8px);
        background-color: rgba(228, 228, 228, 0.6);
    }

    b {
        color: $font-color;
        font-size: 24px;
        font-weight: 500;
    }

    span {
        flex-grow: 1;
    }

    i {
        color: $accent-color1;
        font-size: 46px;
    }

    @media screen and (max-width: 1580px) {
        &__col-left {
            max-width: 650px;
        }

        &__cards {
            grid-template: repeat(2, 1fr) / repeat(2, minmax(auto, 400px));
            justify-content: center;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        &__cards {
            margin-top: 40px;
        }

        &__row {
            flex-direction: column;
            align-items: flex-start;
        }

        &__col-left {
            max-width: 950px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        &__cards {
            margin-top: 20px;
            grid-template: repeat(4, 1fr) / minmax(auto, 450px);
            justify-content: center;
        }

        &__image {
            border-radius: 32px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .button-yellow-solid-lg {
            width: 290px;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .button-yellow-solid-lg {
            width: auto;
        }

        b {
            font-size: 18px;
        }

        &__card-legend {
            padding: 12px 16px;
        }

        &__image {
            border-radius: 22px;
        }
    }
}