.download {
    background: url(../images/bg-download.jpg);

    .section {
        margin-top: 0;
        margin-bottom: 0;
        height: 660px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        color: $default-color;
    }

    p {
        margin: 0 auto;
        max-width: 610px;
        text-align: center;
        color: $default-color;
    }

    form {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    input {
        height: 50px;
        width: 312px;
        border-radius: 25px;

        &:focus {
            box-shadow: inset 0 0 1px 3px $accent-color2
        }
    }

    &__header {
        font-size: rem(90);
        line-height: 1.3;
        text-align: center;
        color: $default-color;
    }

    .socials {
        justify-content: center;
        margin-top: 32px;
        height: 36px;

        i {
            font-size: 40px;
        }
    }

    a {
        display: block;
        height: 36px;
        width: 36px;
        color: white;
    }

    @media screen and (max-width: $phoneWidth) {
        section {
            height: 600px;
        }

        p {
            text-align: justify;
            margin-top: 32px;
        }

        input {
            width: 100%;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .button-yellow-solid {
            width: 100%;
        }
    }
}