// Font
$mainFont : 'Poppins',
Helvetica,
Arial,
sans-serif;

// Size
$mainFontColor : #707070;
$mainFontSize : 16px;
$mainFontWeight : 400;
$mainLineHeight : 1.6;

$desktopWidth : 1280px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

$default-color : #ffffff;

$accent-color1 : #3fc2bb;
$accent-color2 : #ffd703;
$footer-color : #0b514d;
$footer-color : #0b514d;

$font-color : #373737;
$font-color-light : #707070;

// // Features Color
$yellow : #ffd84e;
$coral : #fb6363;
$lilac : #a66df5;
$green : #6dd6b0;
$blue : #708cf0;
$violet : #a02e8e;