<div class="download" data-observer>
   <section class="section">

      <div class="download__header">Download the future</div>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.
      </p>

      <form name="signup">
         <input type="email" placeholder="myMail@gmail.com">
         <button class=" button-yellow-solid">Sign Up<i class="icon-flash"></i></button>
      </form><!-- end form -->

      <ul class="socials">
         <li> <a href="http://behance.com"><i class="icon-behance"></i></a> </li>
         <li> <a href="http://dribble.com"><i class="icon-dribble"></i></a> </li>
         <li> <a href="http://instagram.com"><i class="icon-instagram"></i></a> </li>
      </ul><!-- end socials -->
   </section><!-- end section -->
</div><!-- end download section -->