<footer class="footer">
   <div class="container">
      <div class="footer__row">

         <div class="footer__col">
            <b>Product</b>
            <a href="#howitworks">How it works</a>
            <a href="#features">Features</a>
            <a href="#pricing">Pricing</a>
            <a href="#testimonials">Testimonials</a>
         </div>

         <div class="footer__col">
            <b>About form</b>
            <a href="#ourteam">Our team</a>
            <a href="#careers">Careers</a>
            <a href="#press">Press</a>
            <a href="#stores">Stores</a>
         </div>

         <div class="footer__col">
            <b>Connect</b>
            <a href="http://facebook.com">Facebook</a>
            <a href="http://twitter.com">Twitter</a>
            <a href="http://instagram.com">Instagram</a>
            <a href="http://linkedin.com">Linkedin</a>
         </div>

         <div class="footer__col">
            <b>Contact</b>
            <a href="mailto:info@gmail.com">info@gmail.com</a>
            <a href="tel:000-000-0000">000-000-0000</a>
            <a href="https://goo.gl/maps/a2hQkWXj1GiBNkai9">0000 Willa River Suite 000</a>
         </div>

         <div class="footer__col">
            <b>Newsletter</b>
            <p>Join our weekly maiiling list</p>
            <div>Name *</div>

            <form name="signup-footer">
               <input type="mail">
               <button class="button-yellow-border">Sign Up</button>
            </form><!-- end form -->
         </div>

      </div><!-- end footer row -->

      <hr>

      <div class="footer__copyrights">
         <div class="footer__copyrights-col-left">
            <a href="#">Terms and conditions</a>
            <a href="#">Legal</a>
            <a href="#">Pattents</a>
         </div>

         <a href="#">Designed to be loved © 2008-2021</a>
      </div><!-- end copyrights -->
   </div><!-- end container -->
</footer>