<!--- basic page needs
================================================== -->
<meta charset="utf-8">
<title>Landing</title>
<link rel="shortcut icon" href="./assets/images/favicon.svg">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/assets/css/style.min.css">


<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1">