<header class="header" data-observer>
   <section class="section">

      <div class="header__menu">

         <a class="logo" href="index.html"><img src="./assets/images/svg/logo.svg" alt="logo"></a>

         <button class="hamburger hamburger--spin" type="button" aria-label="Menu" aria-controls="navigation">
            <span class="hamburger-box">
               <span class="hamburger-inner"></span>
            </span>
         </button>
      </div><!-- header__menu -->

      <nav>
         <ul>
            <li>
               <a href="#more">How it Works</a>
            </li>
            <li>
               <a href="#features">Features</a>
            </li>
            <li>
               <a href="#pricing">Pricing</a>
            </li>
            <li>
               <a href="#help">Help</a>
            </li>
            <li>
               <a href="#blog">Blog</a>
            </li>
            <li>
               <button class="header__button">Log In</button>
            </li>
            <li>
               <button class="button-yellow-border">Sign Up<i class="icon-flash"></i></button>
            </li>
         </ul>
      </nav><!-- end nav -->

   </section>
</header>