<header class="header">
   <div class="container">

      <div class="header__menu">
         <a class="logo" href="index.html"><img src="./assets/images/svg/logo.svg" alt="logo"></a>
         <button class="burger">
            <a class="menu-open" href="#menu"><i class="icon-cross"></i></a>
            <a class="menu-close" href="#menu"><i class="icon-burger"></i></a>
         </button>
      </div><!-- header__menu -->

      <nav>
         <ul>
            <li>
               <a href="#howitworks">How it Works</a>
            </li>
            <li>
               <a href="#features">Features</a>
            </li>
            <li>
               <a href="#pricing">Pricing</a>
            </li>
            <li>
               <a href="#help">Help</a>
            </li>
            <li>
               <a href="#help">Help</a>
            </li>
            <li>
               <button class="button">Log In</button>
            </li>
            <li>
               <button class="button-yellow-border">Sign Up</button>
            </li>
         </ul>
      </nav><!-- end nav -->
   </div><!-- end container -->
</header>