<div class="preview">
   <section class="section">

      <div class="preview__row">
         <div class="preview__col">
            <h1>Listen To The<br>Beat Of The Web</h1>
            <p>
               First template from series templates to design web pages, using components system
            </p>
            <button class="button-yellow-solid-lg">
               Let’s Go
               <span class="icon-add"><span class="path1"></span><span class="path2"></span></span>
            </button>
         </div><!-- end preview__col-left -->

         <div class="button-play-animated">
            <a href="#more"><i class="icon-play"></i></a>
         </div>
      </div><!-- end preview__row -->


      <div class="preview__cards-section" id="more" data-observer>
         <h2>How it works</h2>
         <div class="preview__cards">
            <!-- preview cards -->
         </div>
      </div>

   </section><!-- end preview section-->
</div><!-- preview background wrapper -->